<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>
<div class="dot"></div>

<style>
  .dot{
		width: 3px;
		height: 3px;
		background: white;
		position: absolute;
		border-radius: 50%;
		animation: dot 3s infinite;
	}

	@keyframes dot {
		0%{
			scale: 1;
		}
		50%{
			scale: 1.4;
		}
		100%{
			scale: 1;
		}
	}

	.dot:first-of-type{
		left: 3%;
		width: 2px;
		height: 2px;
		top: 40%;
	}
	.dot:nth-of-type(2) {
  	left: 4%;
		top: 50%;
		background-color: #FE8BBB;
	}

	.dot:nth-of-type(3) {
  	left:17%;
		top: 65%;
		background-color: #FE8BBB;
	}

	.dot:nth-of-type(4) {
  	left: 30%;
		top: 25%;
		background-color: #9E7AFF;
	}
	.dot:nth-of-type(5) {
  	left: 40%;
		top: 45%;
		background-color: #9E7AFF;
	}

	.dot:nth-of-type(6) {
  	left: 45%;
		top: 35%;
		background-color: #FE8BBB;
	}

	.dot:nth-of-type(7) {
  	left: 50%;
		top: 75%;
		background-color: #9E7AFF;
	}

	.dot:nth-of-type(8) {
		width: 4px;
		height: 4px;
  	left: 60%;
		top: 85%;
		background-color: #9E7AFF;
	}

	.dot:nth-of-type(9) {
  	left: 70%;
		top: 65%;
		background-color: #FE8BBB;
	}

	.dot:nth-of-type(10) {
  	left: 80%;
		top: 23%;
		background-color: #9E7AFF;
	}

	.dot:nth-of-type(11) {
  	left: 85%;
		top: 52%;
		background-color: #9E7AFF;
	}

	.dot:nth-of-type(12) {
  	left: 90%;
		top: 42%;
		background-color: #9E7AFF;
	}

	.dot:nth-of-type(13) {
  	left: 95%;
		top: 82%;
		background-color: #FE8BBB;
	}
</style>